# Frontend Supabase configuration
NEXT_PUBLIC_SUPABASE_URL=https://gwkfegybtmmcdxnfnkyj.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_PlpNEmuKbbgvZXxJwq93aA_4PmC7AqI
#NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

# Server-side Supabase configuration (optional for auth/other server usage)
SUPABASE_URL=https://gwkfegybtmmcdxnfnkyj.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# Supabase Postgres DATABASE_URL for Prisma
# Example: postgresql://postgres:password@db.host.supabase.co:5432/postgres?sslmode=require
#DATABASE_URL=postgresql://postgres:password@your-project.supabase.co:5432/postgres?sslmode=require
# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL="postgresql://postgres.gwkfegybtmmcdxnfnkyj:[YOUR-PASSWORD]@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL="postgresql://postgres.gwkfegybtmmcdxnfnkyj:[YOUR-PASSWORD]@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres"


# Local API URL for client-side requests
NEXT_PUBLIC_API_URL=http://localhost:4000
